{% extends "home.html" %}

{% block content %}

	<div class="jumbotron jumbotron-fluid" style="padding-left: 120px;padding-right: 120px;">
		<h1 class="display-4 header font-weight-bold">All the details of the diseases are below</h1>
		<br><br><br>

		<h3 class="header font-weight-bold">Diabetes</h3>
		<h5>Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body either doesn’t make enough insulin or can’t effectively use the insulin it does make. A rare condition called diabetes insipidus is not related to diabetes mellitus, although it has a similar name. It’s a different condition in which your kidneys remove too much fluid from your body.</h5>
		<h4 class="font-weight-bold">Symptoms :</h4>
		<h5>Diabetes symptoms are caused by rising blood sugar. The general symptoms of diabetes include:</h5>
		<h5><ul>
			<li>increased hunger</li>
			<li>increased thirst</li>
			<li>weight loss</li>
			<li>frequent urination</li>
			<li>blurry vision</li>
			<li>extreme fatigue</li>
			<li>sores that don’t heal</li>
		</ul></h5>
		
		<h4 class="font-weight-bold">Treatment :</h4>
		<h5>Doctors treat diabetes with a few different medications. Some of these drugs are taken by mouth, while others are available as injections. Insulin is the main treatment for type 1 diabetes. It replaces the hormone your body isn’t able to produce. Diet and exercise can help some people manage type 2 diabetes. If lifestyle changes aren’t enough to lower your blood sugar, you’ll need to take medication. You’ll need to monitor your blood sugar level several times a day during pregnancy. If it’s high, dietary changes and exercise may or may not be enough to bring it down.</h5>
		<br><br><br>

		<h3 class="header font-weight-bold">Malaria</h3>
		<h5>Malaria is a life-threatening disease. It’s typically transmitted through the bite of an infected Anopheles mosquito. Infected mosquitoes carry the Plasmodium parasite. When this mosquito bites you, the parasite is released into your bloodstream.Once the parasites are inside your body, they travel to the liver, where they mature. After several days, the mature parasites enter the bloodstream and begin to infect red blood cells.</h5>
		<h4 class="font-weight-bold">Causes :</h4>
		<h5>Malaria can occur if a mosquito infected with the Plasmodium parasite bites you. There are four kinds of malaria parasites that can infect humans: Plasmodium vivax, P. ovale, P. malariae, and P. falciparum.P. falciparum causes a more severe form of the disease and those who contract this form of malaria have a higher risk of death. An infected mother can also pass the disease to her baby at birth. This is known as congenital malaria.</h5>
		<h4 class="font-weight-bold">Symptoms :</h4>
		<h5>The symptoms of malaria typically develop within 10 days to 4 weeks following the infection. In some cases, symptoms may not develop for several months. Some malarial parasites can enter the body but will be dormant for long periods of time.</h5>
		<h5><ul>
			<li>shaking chills that can range from moderate to severe</li>
			<li>high fever</li>
			<li>profuse sweating</li>
			<li>headache</li>
			<li>nausea</li>
			<li>vomiting</li>
			<li>abdominal pain</li>
		</ul></h5>
		<h4 class="font-weight-bold">Treatment :</h4>
		<h5>Malaria can be a life-threatening condition, especially if you’re infected with the parasite P. falciparum. Treatment for the disease is typically provided in a hospital. Your doctor will prescribe medications based on the type of parasite that you have.In some instances, the medication prescribed may not clear the infection because of parasite resistance to drugs. If this occurs, your doctor may need to use more than one medication or change medications altogether to treat your condition.</h5>
		<br><br><br>
	</div>

{% endblock %}